{
  "openapi": "3.0.4",
  "info": {
    "title": "Code CIIR API",
    "description": "API for querying indexed source code (from code3rag, owned by code-ciir-indexer) using\nnatural language, returning not only the most semantically similar code documents but\nalso up to two levels of their code relationship graph. See .specs/ for the full\nevolutionary implementation plan - this build only exposes a version endpoint so far.\n\nAll endpoints exclusively accept and return application/json. Client errors and server\nerrors are reported using the RFC 7807 \"Problem Details for HTTP APIs\" format, with the\nexception of 404 responses, which are returned with no response body.",
    "version": "0.5.0"
  },
  "servers": [
    {
      "url": "https://blogdoft.home.arpa/code-brain"
    }
  ],
  "paths": {
    "/api/code-queries": {
      "post": {
        "tags": [
          "Code Query"
        ],
        "summary": "Query indexed code using natural language",
        "description": "Accepts a natural language question, converts it into a vector embedding using the single\napp-configured embedding model, and returns the code documents whose stored embeddings are\nmost semantically similar to the question - optionally narrowed to one project and/or by\nstructured filters, reordered by an optional reranking stage, and capped at `limit`.\n            \nWhen no code document scores highly enough to be considered a match, the response is a 200\nOK with an empty array - this is not treated as an error. A 404 is returned only when\n`project_id` is provided and does not correspond to any project.\n            \n<b>Why this endpoint has no page-based pagination:</b> results must always come back\nordered from the single greatest match to the smallest. When a reranker is configured\n(server-side only, see `Reranking:Provider`), that ordering is decided by reranking\nthe entire candidate pool - not by cosine similarity alone - before truncating to\n`limit`. Offset-based paging would rerank each page's candidates in isolation, which\ncan hide a globally better match that happens to land on a later page, and cannot\nguarantee one consistent best-to-worst ordering across pages. Use `limit` to control\nhow many top results you want; there is no `page`. See .specs/10-reranking.md.",
        "requestBody": {
          "description": "The natural language question to search with, plus optional `project_id`,\n`min_similarity`, `kind`, `qualified_name` filters and `limit`.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The code documents most semantically similar to the natural language question (`matches`,\nordered by descending `rerank_score` when reranking is configured, otherwise by descending\ncosine `similarity`). Each match carries its own `relations` - every direct (1-hop)\nrelation touching it, both directions, every relation type, always complete regardless of\ngraph size (see .specs/12-match-relations.md). The response also includes up to 2 hops of\nthe matches' code relationship graph (`graph`) - every relation type, both directions -\nwhen `project_id` was provided. `matches` is an empty array when no code document is found\nto be similar enough to the question, or matching the given filters; `graph` is then also\nempty. `graph` is always empty, and every match's `relations` is always an empty array,\nwhen `project_id` is omitted (see .specs/09-code-queries-filters.md).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request body is missing the question field, has an empty/blank question, has an\ninvalid `project_id`/`min_similarity`/`kind`/`qualified_name`, or is otherwise malformed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "`project_id` was provided but does not correspond to any project. This is the only\ncondition under which this endpoint returns 404; the response has no body."
          },
          "500": {
            "description": "An unhandled exception occurred while processing the request. This is the only condition\nunder which this endpoint returns 500.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/code-queries/feedback": {
      "post": {
        "tags": [
          "Code Query"
        ],
        "summary": "Submit feedback on a prior code query",
        "description": "Records whether a previous `POST .../code-queries` call's results were useful, so\neffectiveness can be measured later. Callable by a human (REST) or an AI agent (MCP, via\nthe `submit_code_query_feedback` tool). The caller must always identify itself via\nthe required `user` field - for MCP callers this is the calling agent/tool's own\nname (e.g. \"claude code\", \"codex\", \"crewai\", \"hermes\", \"opencode\"), never a guess or a\ndefault.\n            \nThere is no corresponding GET endpoint for feedback - effectiveness is computed directly\nagainst the database out of band. Accordingly, the 201 response below has no\n`Location` header.",
        "requestBody": {
          "description": "The identifier of the project the original code-queries call was scoped to, the original\nquestion, whether it was useful, the similarity values it returned, and the identity of\nthe caller submitting the feedback.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeQueryFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The feedback was recorded. The response body echoes the persisted record, including its\ngenerated id and created_at.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeQueryFeedbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request body is missing or malformed, project_id is missing or not a positive integer,\nquestion/useful/similarities/user is missing or invalid (empty, blank, exceeds its maximum\nlength/count), or reason exceeds its maximum length.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No project exists with the given project_id. This is the only condition under which this\nendpoint returns 404; the response has no body."
          },
          "500": {
            "description": "An unhandled exception occurred while processing the request. This is the only condition\nunder which this endpoint returns 500.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/code-queries/feedback/stats": {
      "get": {
        "tags": [
          "Code Query"
        ],
        "summary": "Get feedback effectiveness statistics, grouped by week and by project",
        "description": "Returns feedback effectiveness statistics for a time window (up to 12 months), broken down\ninto a dense weekly x project grid: every ISO calendar week (Monday-Sunday) overlapping\nthe window is included, and within every week, every registered project (or the single\nproject matching projectId, if given) is included, even when it has zero feedback in that\nspecific week. Each project entry within a week reports useful vs. not-useful counts and\npercentages for feedback created in that week.\n            \nstartDate and endDate are both optional and independent. When neither is given, the window\ndefaults to the last 30 days ending now (UTC). When only one is given, the other end of the\nwindow is derived as a 30-day span from the given value (startDate + 30 days, or\nendDate - 30 days). When both are given, the exact window requested is used. startDate\nafter endDate is a 400. The effective window (endDate - startDate) must not exceed 366\ndays (12 months); exceeding it is also a 400.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Inclusive lower bound (UTC, ISO 8601) of the time window to aggregate feedback over.\nOptional - see the endpoint description for the default-window rules that apply when this\nand/or endDate are omitted, and for the 366-day maximum window size.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Inclusive upper bound (UTC, ISO 8601) of the time window to aggregate feedback over.\nOptional - see the endpoint description for the default-window rules that apply when this\nand/or startDate are omitted, and for the 366-day maximum window size.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Restrict every week's project list to a single project, instead of all registered\nprojects. Must correspond to a project id returned by the list_projects MCP tool; a\nprojectId that does not match any project results in a 404.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback statistics for the requested time window, as a dense grid of every week\noverlapping the window, each containing every registered project (or a single project when\nprojectId was given), with zero-filled entries where there was no feedback. start_date/\nend_date in the response body reflect the effective window actually used, including when\nderived by default.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeQueryFeedbackStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "startDate or endDate is not a valid date-time, startDate is after endDate when both are\ngiven, or the effective window exceeds 366 days. This is the only client-error condition\nother than 404 under which this endpoint fails.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "projectId was given but does not correspond to any registered project. This is the only\ncondition under which this endpoint returns 404; the response has no body."
          },
          "500": {
            "description": "An unhandled exception occurred while processing the request. This is the only condition\nunder which this endpoint returns 500.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/code-queries/feedback/export": {
      "get": {
        "tags": [
          "Code Query"
        ],
        "summary": "Export raw feedback records for a time window (and optionally a single project) as CSV",
        "description": "Returns a downloadable CSV file with one row per feedback record in code_query_feedback\nwhose created_at falls within [startDate, endDate], optionally restricted to a single\nproject. Unlike GET .../feedback/stats, this endpoint returns raw, unaggregated rows\nordered by created_at ascending.\n            \nstartDate and endDate are both optional, and each side defaults independently of the other\nwhen omitted (no ±N-days derivation like GET .../feedback/stats): a missing startDate\ndefaults to the first day of the current UTC month (00:00 UTC), and a missing endDate\ndefaults to now (UTC). The effective window (endDate - startDate, after defaults are\napplied) must not exceed 366 days (12 months); exceeding it is a 400, as is an effective\nstartDate after endDate.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Inclusive lower bound (UTC, ISO 8601) of the export window. Optional - defaults to the\nfirst day of the current UTC month (00:00 UTC) when omitted.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Inclusive upper bound (UTC, ISO 8601) of the export window. Optional - defaults to now\n(UTC) when omitted.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Restrict the export to a single project, instead of all registered projects. Must\ncorrespond to a project id returned by the list_projects MCP tool; a projectId that does\nnot match any project results in a 404.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA timezone name (e.g. \"America/Sao_Paulo\") used to render the created_at column of the\nCSV in that zone's local wall-clock time, with an explicit UTC offset suffix. Optional -\nwhen omitted, created_at keeps its UTC rendering (a \"Z\" suffix). Does not affect startDate/\nendDate filtering or the default-window rules, which stay UTC-based regardless. An\nunrecognized IANA name is a 400.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file with one row per feedback record in the requested window (and project, if given),\nordered by created_at ascending.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "startDate or endDate is not a valid date-time, the effective startDate (after defaults are\napplied) is after the effective endDate, the effective window exceeds 366 days, or timezone\nwas given but is not a recognized IANA time zone name. This is the only client-error\ncondition other than 404 under which this endpoint fails.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "projectId was given but does not correspond to any registered project. This is the only\ncondition under which this endpoint returns 404; the response has no body."
          },
          "500": {
            "description": "An unhandled exception occurred while processing the request. This is the only condition\nunder which this endpoint returns 500.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": [
          "Version"
        ],
        "summary": "Get the API version",
        "description": "Returns the version this instance was built and published from. Deliberately unversioned\n(no /api prefix) and health-check-style, for use by deploy tooling and diagnostics rather\nthan API consumers.",
        "responses": {
          "200": {
            "description": "The running API's version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CodeQueryFeedbackRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "integer",
            "description": "Identifier of the project the original code-queries call was scoped to, corresponding to the\nid of a project returned by the list_projects MCP tool. Required, must be a positive 64-bit\ninteger.",
            "format": "int64",
            "nullable": true
          },
          "question": {
            "type": "string",
            "description": "The original natural language question, echoed back on the persisted record.",
            "nullable": true
          },
          "useful": {
            "type": "boolean",
            "description": "Whether the results of the original code-queries call were useful.",
            "nullable": true
          },
          "similarities": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            },
            "description": "The similarity values the original code-queries call returned.",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "description": "Optional free-text explanation for why the results were/weren't useful.",
            "nullable": true
          },
          "user": {
            "type": "string",
            "description": "Identity of the caller submitting the feedback.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Feedback on a prior `POST .../code-queries` call, scoped to a single project."
      },
      "CodeQueryFeedbackResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "project_id": {
            "type": "integer",
            "format": "int64"
          },
          "question": {
            "type": "string",
            "nullable": true
          },
          "useful": {
            "type": "boolean"
          },
          "similarities": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            },
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "user": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "A recorded piece of feedback on a prior code query. Serializes as snake_case. There is no\nGET endpoint for retrieving it later - this response is the only view of it."
      },
      "CodeQueryFeedbackStatsResponse": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "description": "Effective inclusive lower bound (UTC) of the aggregated window.",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "description": "Effective inclusive upper bound (UTC) of the aggregated window.",
            "format": "date-time"
          },
          "weeks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeeklyFeedbackStatsResponse"
            },
            "description": "Every ISO calendar week (Monday-Sunday) overlapping the effective window, ordered by\n`week_start` ascending. Always includes every overlapping week, even ones with zero\nfeedback across all projects.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Feedback effectiveness statistics for a time window, as a dense week × project grid.\nSerializes as snake_case."
      },
      "CodeQueryGraphEdgeResponse": {
        "type": "object",
        "properties": {
          "from_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "to_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "relation_type": {
            "type": "string",
            "nullable": true
          },
          "target_symbol": {
            "type": "string",
            "nullable": true
          },
          "resolution_origin": {
            "type": "string",
            "nullable": true
          },
          "depth": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "A relation touching at least one node in the expanded graph. `to_id` is null when the\nrelation's target is outside the indexed universe (external/unresolved - e.g. a framework or\ndependency symbol); `target_symbol` still names it in that case."
      },
      "CodeQueryGraphNodeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "kind": {
            "type": "string",
            "nullable": true
          },
          "symbol_container": {
            "type": "string",
            "nullable": true
          },
          "symbol_name": {
            "type": "string",
            "nullable": true
          },
          "symbol_qualified_name": {
            "type": "string",
            "nullable": true
          },
          "symbol_canonical_name": {
            "type": "string",
            "nullable": true
          },
          "source_file": {
            "type": "string",
            "nullable": true
          },
          "depth": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "A code entity reached while expanding the relationship graph from a match."
      },
      "CodeQueryGraphResponse": {
        "type": "object",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeQueryGraphNodeResponse"
            },
            "nullable": true
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeQueryGraphEdgeResponse"
            },
            "nullable": true
          },
          "truncated": {
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "description": "Up to 2 hops of the code relationship graph expanded from a code-queries call's matches -\nsee .specs/05-code-queries-relationship-graph.md. CodeCiir.Api.Contracts.CodeQueryGraphResponse.Truncated is true when the\ngraph had more nodes than the configured safety cap and was cut off (nearest-depth-first)."
      },
      "CodeQueryQualifiedNameFilterRequest": {
        "required": [
          "operator",
          "value"
        ],
        "type": "object",
        "properties": {
          "operator": {
            "$ref": "#/components/schemas/QualifiedNameFilterOperator"
          },
          "value": {
            "type": "string",
            "description": "Value to compare the qualified name against. Must not be empty or blank. When the operator is\n`Contains` or `NotContains`, `*` acts as a wildcard matching any sequence of\ncharacters (e.g. `*Controller*` matches values containing \"Controller\"); a value with no\n`*` is matched exactly (case-insensitively). Ignored for `Equals`.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Optional filter narrowing results to code documents matching a `symbol_qualified_name`\ncondition (the member's full name including its namespace/package or language equivalent)."
      },
      "CodeQueryRelationResponse": {
        "type": "object",
        "properties": {
          "from_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "to_id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "relation_type": {
            "type": "string",
            "nullable": true
          },
          "target_symbol": {
            "type": "string",
            "nullable": true
          },
          "resolution_origin": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A relation (ciir_relations row) directly touching one specific match, in either direction.\nCodeCiir.Api.Contracts.CodeQueryRelationResponse.ToId is null when the relation's target is outside the indexed universe\n(external/unresolved - e.g. a framework or dependency symbol); CodeCiir.Api.Contracts.CodeQueryRelationResponse.TargetSymbol\nstill names it in that case."
      },
      "CodeQueryRequest": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string",
            "description": "A natural language ask describing the code the caller is looking for. This text is embedded\n(using the app-wide configured embedding model, see EmbeddingOptions) and compared against\nthe stored code documents' embeddings using cosine similarity. Always required, must not be\nempty or blank.",
            "nullable": true
          },
          "project_id": {
            "type": "integer",
            "description": "Optional filter narrowing results to a single project, corresponding to a project id returned\nby the list_projects MCP tool. Omit to search across every project. When provided, must be\na positive 64-bit integer and must correspond to an existing project (404 otherwise).",
            "format": "int64",
            "nullable": true
          },
          "min_similarity": {
            "type": "number",
            "description": "Optional minimum cosine similarity (0.0-1.0) a match must have to be included.",
            "format": "double",
            "nullable": true
          },
          "kind": {
            "type": "string",
            "description": "Optional filter narrowing results to code documents whose `kind` equals this value exactly. Omit for no filtering on this field.",
            "nullable": true
          },
          "qualified_name": {
            "$ref": "#/components/schemas/CodeQueryQualifiedNameFilterRequest"
          },
          "limit": {
            "type": "integer",
            "description": "Optional maximum number of matches to return (default 10, capped at 50). There is no\npage-based pagination on this endpoint - see `CodeQueriesController.QueryAsync`'s remarks\nfor why.",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Natural language search request, optionally narrowed by project and structured filters."
      },
      "CodeQueryResponse": {
        "type": "object",
        "properties": {
          "matches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeQueryResultResponse"
            },
            "nullable": true
          },
          "graph": {
            "$ref": "#/components/schemas/CodeQueryGraphResponse"
          }
        },
        "additionalProperties": false,
        "description": "Response of a code-queries call: the semantic matches, plus up to 2 hops of their code\nrelationship graph (all relation types, both directions) - the requirement central to\ncode-ciir-api. Deliberately a different shape than code-rag-api's plain array response - see\n.specs/05-code-queries-relationship-graph.md."
      },
      "CodeQueryResultResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id of the code document (matches `ciir_documents.id`).",
            "format": "int64"
          },
          "kind": {
            "type": "string",
            "description": "The document's kind (e.g. `method`, `type`, `property`).",
            "nullable": true
          },
          "symbol_container": {
            "type": "string",
            "description": "Fully qualified name of the container the symbol belongs to.",
            "nullable": true
          },
          "symbol_name": {
            "type": "string",
            "description": "Short name of the symbol.",
            "nullable": true
          },
          "symbol_qualified_name": {
            "type": "string",
            "description": "Dotted qualified name, without parameter types.",
            "nullable": true
          },
          "symbol_canonical_name": {
            "type": "string",
            "description": "Full signature, disambiguating overloads.",
            "nullable": true
          },
          "source_file": {
            "type": "string",
            "description": "Path of the source file the symbol was indexed from.",
            "nullable": true
          },
          "git_url": {
            "type": "string",
            "description": "Public Git URL of the project that owns the symbol.",
            "format": "uri",
            "nullable": true
          },
          "git_raw_url": {
            "type": "string",
            "description": "Public raw-file URL for the symbol. This is the project's `git_raw_url` concatenated\nwith the indexed source path; null when the project has no `git_raw_url`.",
            "format": "uri",
            "nullable": true
          },
          "embedding_text": {
            "type": "string",
            "description": "The text that was actually embedded for this document.",
            "nullable": true
          },
          "similarity": {
            "type": "number",
            "description": "Cosine similarity between the question and this document, 0.0-1.0.",
            "format": "double"
          },
          "rerank_score": {
            "type": "number",
            "description": "Relevance score assigned by the reranking stage, normalized to 0.0-1.0 (higher is more\nrelevant). Null when reranking is disabled (the default) or not configured - see\n.specs/10-reranking.md.",
            "format": "double",
            "nullable": true
          },
          "relations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeQueryRelationResponse"
            },
            "description": "This match's complete set of direct (1-hop) relations, in either direction - every relation\ntype, not subject to the 2-hop `graph`'s node-count truncation. Empty array when the\nmatch has no direct relations, or when `project_id` was omitted from the request (see\n.specs/12-match-relations.md).",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A single code document matched against a natural language query, annotated with its computed\nsimilarity score. Field names mirror ciir_documents' own columns rather than code-rag-api's\nnamespace/type_name/member, which have no equivalent in code3rag - see\n.specs/04-code-queries-baseline.md. Serializes as snake_case."
      },
      "ExceptionDetails": {
        "type": "object",
        "properties": {
          "exception_type": {
            "type": "string",
            "description": "Fully-qualified type name of the exception that was raised.",
            "nullable": true
          },
          "message": {
            "type": "string",
            "description": "The exception's message.",
            "nullable": true
          },
          "stack_trace": {
            "type": "string",
            "description": "The exception's captured stack trace.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Details of the unhandled exception that caused the request to fail."
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "ProjectFeedbackStatsResponse": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "integer",
            "description": "Id of the project these statistics belong to.",
            "format": "int64"
          },
          "project_name": {
            "type": "string",
            "description": "Name of the project these statistics belong to.",
            "nullable": true
          },
          "total_count": {
            "type": "integer",
            "description": "Total number of feedback records for this project within this week.",
            "format": "int64"
          },
          "useful_count": {
            "type": "integer",
            "description": "Number of feedback records with `useful = true` within this week.",
            "format": "int64"
          },
          "not_useful_count": {
            "type": "integer",
            "description": "Number of feedback records with `useful = false` within this week.",
            "format": "int64"
          },
          "useful_percentage": {
            "type": "number",
            "description": "UsefulCount as a percentage of TotalCount for this week,\n            rounded to 2 decimal places. 0 when TotalCount is 0.",
            "format": "double"
          },
          "not_useful_percentage": {
            "type": "number",
            "description": "NotUsefulCount as a percentage of TotalCount for this\n            week, rounded to 2 decimal places. 0 when TotalCount is 0.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Feedback effectiveness statistics for a single project within a single week."
      },
      "QualifiedNameFilterOperator": {
        "enum": [
          "equals",
          "contains",
          "not_contains"
        ],
        "type": "string"
      },
      "ServerErrorProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "exception": {
            "$ref": "#/components/schemas/ExceptionDetails"
          }
        },
        "additionalProperties": {},
        "description": "Problem Details payload for 500 responses. Exposing the raised exception's details is a\ndeliberate trade-off for ease of debugging in this API, mirroring code-rag-api's contract,\nand should be disabled or redacted in a hardened deployment."
      },
      "VersionResponse": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "Semantic version stamped at publish time (see .specs/08-ops-deployment.md), or\n\"0.0.0-dev\" for a local build that wasn't given an explicit version.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "The running API's own build version. Serializes as snake_case."
      },
      "WeeklyFeedbackStatsResponse": {
        "type": "object",
        "properties": {
          "week_start": {
            "type": "string",
            "description": "Monday of this ISO calendar week.",
            "format": "date"
          },
          "week_end": {
            "type": "string",
            "description": "Sunday of this ISO calendar week.",
            "format": "date"
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectFeedbackStatsResponse"
            },
            "description": "Every registered project (or the single project matching `project_id`, if given), ordered\nby `project_id`, with counts/percentages for feedback created within this week and within\nthe overall requested window. Zero-filled when a project had no feedback in this specific week.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Feedback effectiveness statistics for a single ISO calendar week (Monday-Sunday)."
      }
    }
  },
  "tags": [
    {
      "name": "Code Query",
      "description": "Operations for querying indexed source code using natural language."
    },
    {
      "name": "Version",
      "description": "Reports the running API's own build version."
    }
  ]
}
